@charset "utf-8";

/* CSS Document */


/*------------------------------------------------
    typography - atsako uz about, design, contact dalis
--------------------------------------------------*/

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #464545;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #4e4e4e;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #464545;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a:link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


/*------------------------------------------------
    intro - atsako uz saito virsutines dalies intro
--------------------------------------------------*/


/* height: 400px; - turi buti lygu data-offset-top="400" index.html faile */

.jumbotron {
    background: rgba(247, 246, 244, 0.6);
    height: 400px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.jumbotron h1 {
    text-transform: uppercase;
    letter-spacing: -5px;
}

.jumbotron span.small {
    color: #827C7D;
}

span.small {
    font-size: 80px;
}

span.name {
    line-height: 80px;
    vertical-align: middle;
    color: #F7FE2E;
    font-size: 120px;
    font-weight: 900;
    text-shadow: 1px 0px 1px #787777;
}

span.hello {
    line-height: 80px;
    vertical-align: middle;
    color: #ACA9A0;
    font-size: 120px;
    font-weight: 900;
    text-shadow: 1px 0px 1px #787777;
}


/*------------------------------------------------
    nav - suformuoja meniu
--------------------------------------------------*/

nav {}

.affix {
    position: fixed;
    top: 0;
}


/* meniu spalvos kai jau yra pasirinktas meniu punktas */

.nav .active,
.nav .active a {
    background: #F7FE2E;
    opacity: 1;
    color: #000;
}

.navbar {
    background: #F8F6F2;
    min-height: 34px;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    z-index: 40;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(129, 129, 129, 0.67);
    -moz-box-shadow: 0px 0px 7px 0px rgba(129, 129, 129, 0.67);
    box-shadow: 0px 0px 7px 0px rgba(129, 129, 129, 0.67);
}

.navbar-nav {
    margin-top: 4px;
    float: none;
    display: inline-block;
}

.navbar-nav li a {
    padding: 6px 30px 6px 30px;
    color: #999;
}


/* meniu spalvos kai uzvedame pele */

.navbar-nav li a:hover {
    background: #0000FF;
    opacity: 1;
    color: #fff;
}

nav a {
    font-size: 18px;
    font-weight: 300;
    color: #4a4949;
}


/*------------------------------------------------
    about - suformuoja paragrafa
--------------------------------------------------*/

#about {
    padding-top: 60px;
    background-color: #ffffff;
    border-top: 1px solid #EDECEC;
    position: relative;
    z-index: 15;
    text-align: center;
}

#about .subheader {
    margin-bottom: 30px;
}


/*------------------------------------------------
    design - suformuoja paragrafa
--------------------------------------------------*/

#design {
    padding-top: 60px;
    background-color: #F7F6F4;
    border-top: 1px solid #EDECEC;
    position: relative;
    z-index: 15;
    text-align: center;
}

#design .subheader {
    margin-bottom: 30px;
}


/*------------------------------------------------
    contact - suformuoja paragrafa
--------------------------------------------------*/

#contact {
    background-color: #fff;
    border-top: 1px solid #EDECEC;
    margin-top: -13px;
    position: relative;
    z-index: 15;
    padding-top: 60px;
}

#contact .subheader {
    margin-bottom: 30px;
    text-align: center;
}


/*------------------------------------------------
                      footer
--------------------------------------------------*/

footer {
    background: #ffffff;
    text-align: center;
    position: relative;
    z-index: 15;
}

footer p {
    padding: 25px 0 20px 0;
    font-size: 16px;
}